@charset "utf-8";

/* CSS Document */

/******************************************************/
/*   PCもスマホも同じ表示にして欲しい時 　幅は固定　自動伸縮 */
/******************************************************/

.ac_border {
  border:1px solid #ccc;
}

#products .menu ul li img {
  border:1px solid #ccc;
}

#products .menu2 ul li img {
  border:1px solid #ccc;
}


.menu {
 width: 1200px;
 margin: 1em auto;
 padding: 0;
}

.menu2 {
 width: 1200px;
 margin: 1em auto;
 padding: 0;
}

.menu3 {
 width: 1200px;
 margin: 1em auto;
 padding: 0;
}

.menu4 {
 width: 1200px;
 margin: 1em auto;
 padding: 0;
}

.menu5 {
 width: 1200px;
 margin: 1em auto;
 padding: 0;
}

.menu6 {
 width: 1200px;
 margin: 1em auto;
 padding: 0;
}

.menu7 {
 width: 1200px;
 margin: 1em auto;
 padding: 0;
}



.menu li {
 width: 1200px;
 list-style: none;
}

.menu2 li {
 width: 1200px;
 list-style: none;
}

.menu3 li {
 width: 1200px;
 list-style: none;
}

.menu4 li {
 width: 1200px;
 list-style: none;
}

.menu5 li {
 width: 1200px;
 list-style: none;
}

.menu6 li {
 width: 1200px;
 list-style: none;
}

.menu7 li {
 width: 1200px;
 list-style: none;
}
 


.menu li a {
 display: table;
 margin-top: 1px;
 padding: 14px 10px;
 width: 100%;
 height: 300px;
 background-image: url("../img/accordion/accordion.jpg");
 background-repeat: no-repeat;
 text-decoration: none;
 text-align: left;
 vertical-align: middle;
 color: #fff;
 overflow: hidden;
 transition:all .5s ease-out;
}
 
.menu2 li a {
 display: table;
 margin-top: 1px;
 padding: 14px 10px;
 width: 100%;
 height: 300px;
 background-image: url("../img/accordion/accordion_r.jpg");
 background-repeat: no-repeat;
 text-decoration: none;
 text-align: left;
 vertical-align: middle;
 color: #fff;
 overflow: hidden;
 transition:all .5s ease-out;
}

.menu3 li a {
 display: table;
 margin-top: 1px;
 padding: 14px 10px;
 width: 100%;
 height: 300px;
 background-image: url("../img/accordion/accordion_o.jpg");
 background-repeat: no-repeat;
 text-decoration: none;
 text-align: left;
 vertical-align: middle;
 color: #fff;
 overflow: hidden;
 transition:all .5s ease-out;
}

.menu4 li a {
 display: table;
 margin-top: 1px;
 padding: 14px 10px;
 width: 100%;
 height: 300px;
 background-image: url("../img/accordion/accordion_laser.jpg");
 background-repeat: no-repeat;
 text-decoration: none;
 text-align: left;
 vertical-align: middle;
 color: #fff;
 overflow: hidden;
 transition:all .5s ease-out;
}

.menu5 li a {
 display: table;
 margin-top: 1px;
 padding: 14px 10px;
 width: 100%;
 height: 300px;
 background-image: url("../img/accordion/accordion_plazma.jpg");
 background-repeat: no-repeat;
 text-decoration: none;
 text-align: left;
 vertical-align: middle;
 color: #fff;
 overflow: hidden;
 transition:all .5s ease-out;
}

.menu6 li a {
 display: table;
 margin-top: 1px;
 padding: 14px 10px;
 width: 100%;
 height: 300px;
 background-image: url("../img/accordion/accordion_vacum.jpg");
 background-repeat: no-repeat;
 text-decoration: none;
 text-align: left;
 vertical-align: middle;
 color: #fff;
 overflow: hidden;
 transition:all .5s ease-out;
}

.menu7 li a {
 display: table;
 margin-top: 1px;
 padding: 14px 10px;
 width: 100%;
 height: 300px;
 background-image: url("../img/accordion/accordion_celltite.jpg");
 background-repeat: no-repeat;
 text-decoration: none;
 text-align: left;
 vertical-align: middle;
 color: #fff;
 overflow: hidden;
 transition:all .5s ease-out;
}






.menu > li:first-child a {
 margin-top: 0;
}

.menu2 > li:first-child a {
 margin-top: 0;
}

.menu3 > li:first-child a {
 margin-top: 0;
}

.menu4 > li:first-child a {
 margin-top: 0;
}

.menu5 > li:first-child a {
 margin-top: 0;
}

.menu6 > li:first-child a {
 margin-top: 0;
}

.menu7 > li:first-child a {
 margin-top: 0;
}





.menu li a:hover {
 background:#FFFFFF;
 background-image: url("../img/accordion/accordion.jpg");
 background-repeat: no-repeat;
 transition:all .10s ease-out;
}
 
.menu2 li a:hover {
 background: #FFFFFF;
 background-image: url("../img/accordion/accordion_r.jpg");
 background-repeat: no-repeat;
 transition:all .5s ease-out;
}
 
.menu3 li a:hover {
 background: #FFFFFF;
 background-image: url("../img/accordion/accordion_o.jpg");
 background-repeat: no-repeat;
 transition:all .5s ease-out;
}

.menu4 li a:hover {
 background: #FFFFFF;
 background-image: url("../img/accordion/accordion_laser.jpg");
 background-repeat: no-repeat;
 transition:all .5s ease-out;
}

.menu5 li a:hover {
 background: #FFFFFF;
 background-image: url("../img/accordion/accordion_plazma.jpg");
 background-repeat: no-repeat;
 transition:all .5s ease-out;
}

.menu6 li a:hover {
 background: #FFFFFF;
 background-image: url("../img/accordion/accordion_vacum.jpg");
 background-repeat: no-repeat;
 transition:all .5s ease-out;
}

.menu7 li a:hover {
 background: #FFFFFF;
 background-image: url("../img/accordion/accordion_celltite.jpg");
 background-repeat: no-repeat;
 transition:all .5s ease-out;
}





.menu li ul {
 margin: 0;
 padding: 0;
 margin-bottom: -10px;
}

.menu2 li ul {
 margin: 0;
 padding: 0;
 margin-bottom: -15px;
}

.menu3 li ul {
 margin: 0;
 padding: 0;
 margin-bottom: 5px;
}

.menu4 li ul {
 margin: 0;
 padding: 0;
 margin-bottom: 10px;
}

.menu5 li ul {
 margin: 0;
 padding: 0;
 margin-bottom: -30px;
}

.menu6 li ul {
 margin: 0;
 padding: 0;
 margin-bottom: 10px;
}

.menu7 li ul {
 margin: 0;
 padding: 0;
 margin-bottom: 10px;
}


 
.menu li li a {
 display: block;
 margin-top: 0;
 padding: 0;
 height: 0;
 background: #FFFFFF;
 color: #1F3D39;
 transition:all .5s ease-out;
}

.menu2 li li a {
 display: block;
 margin-top: 0;
 padding: 0 10px;
 height: 0;
 background: #FFFFFF;
 color: #1F3D39;
 transition:all .5s ease-out;
}

.menu3 li li a {
 display: block;
 margin-top: 0;
 padding: 0 10px;
 height: 0;
 background: #FFFFFF;
 color: #1F3D39;
 transition:all .5s ease-out;
}

.menu4 li li a {
 display: block;
 margin-top: 0;
 padding: 0 10px;
 height: 0;
 background: #FFFFFF;
 color: #1F3D39;
 transition:all .5s ease-out;
}

.menu5 li li a {
 display: block;
 margin-top: 0;
 padding: 0 10px;
 height: 0;
 background: #FFFFFF;
 color: #1F3D39;
 transition:all .5s ease-out;
}

.menu6 li li a {
 display: block;
 margin-top: 0;
 padding: 0 10px;
 height: 0;
 background: #FFFFFF;
 color: #1F3D39;
 transition:all .5s ease-out;
}

.menu7 li li a {
 display: block;
 margin-top: 0;
 padding: 0 10px;
 height: 0;
 background: #FFFFFF;
 color: #1F3D39;
 transition:all .5s ease-out;
}



.menu > li:hover li a {
 display: table;
 margin-top: 1px;
 padding: 10px;
 width: 100%;
 height: 1em;
 transition:all .10s ease-out;
}

.menu2 > li:hover li a {
 display: table;
 margin-top: 1px;
 padding: 10px;
 width: 100%;
 height: 1em;
 transition:all .5s ease-out;
}

.menu3 > li:hover li a {
 display: table;
 margin-top: 1px;
 padding: 10px;
 width: 100%;
 height: 1em;
 transition:all .5s ease-out;
}

.menu4 > li:hover li a {
 display: table;
 margin-top: 1px;
 padding: 10px;
 width: 100%;
 height: 1em;
 transition:all .5s ease-out;
}

.menu5 > li:hover li a {
 display: table;
 margin-top: 1px;
 padding: 10px;
 width: 100%;
 height: 1em;
 transition:all .5s ease-out;
}

.menu6 > li:hover li a {
 display: table;
 margin-top: 1px;
 padding: 10px;
 width: 100%;
 height: 1em;
 transition:all .5s ease-out;
}

.menu7 > li:hover li a {
 display: table;
 margin-top: 1px;
 padding: 10px;
 width: 100%;
 height: 1em;
 transition:all .5s ease-out;
}




.menu > li:hover li a:hover {
  background: #E8E8E8;
 transition:all .10s ease-out;
}

.menu2 > li:hover li a:hover {
  background: #E8E8E8;
 transition:all .5s ease-out;
}

.menu3 > li:hover li a:hover {
  background: #E8E8E8;
 transition:all .5s ease-out;
}

.menu4 > li:hover li a:hover {
  background: #E8E8E8;
 transition:all .5s ease-out;
}

.menu5 > li:hover li a:hover {
 background: #E8E8E8;
 transition:all .5s ease-out;
}

.menu6 > li:hover li a:hover {
 background: #E8E8E8;
 transition:all .5s ease-out;
}

.menu7 > li:hover li a:hover {
 background: #E8E8E8;
 transition:all .5s ease-out;
}




.item_text ul li p {
  font-size:20px;
  color: #090909;
     display: inline-block;
  margin:3px 0;
  text-align: left;
  line-height: 1.6
}

#kakomi span{
     display: inline-block;
    font-size: 14px;
    border: 1px solid #707070;
    padding: 2px 4px;
    margin-right: 6px;
}

.kakomi{
     display: inline-block;
    font-size: 14px;
    border: 1px solid #707070;
    padding: 2px 4px;
    margin-right: 6px;
}

.box {
  width: 100%;
}
.box-img {
  width: 100%;
  vertical-align: bottom;
}
.box-img:hover {
  filter: opacity(70%);
  cursor: pointer;
}


/*ベース*/
.toggle {
	display: none;
}

.toggle_02 {
	display: none;
}

.toggle_03 {
	display: none;
}

.toggle_04 {
	display: none;
}

.toggle_05 {
	display: none;
}

.toggle_06 {
	display: none;
}

.toggle_07 {
	display: none;
}

/* 使用　スマホ表示時の開閉アクション　*/


.Label {		/*タイトル*/
	padding: 1em;
	display: block;
	/*color: #fff;*/
  width: 1125px;
  height: 301px;
  margin: 0 auto;
  cursor:pointer;
	/*background:#019ac6; */
  
  background-image: url("../img/accordion/accordion_sp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.Label_02 {		/*タイトル*/
	padding: 1em;
	display: block;
	/*color: #fff;*/
  width: 1125px;
  height: 301px;
  margin: 0 auto;
  cursor:pointer;
	/*background:#019ac6; */
  
  background-image: url("../img/accordion/accordion_r_sp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.Label_03 {		/*タイトル*/
	padding: 1em;
	display: block;
	/*color: #fff;*/
  width: 1125px;
  height: 301px;
  margin: 0 auto;
  cursor:pointer;
	/*background:#019ac6; */
  
  background-image: url("../img/accordion/accordion_o_sp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}


.Label_04 {		/*タイトル*/
	padding: 1em;
	display: block;
	/*color: #fff;*/
  width: 1125px;
  height: 301px;
  margin: 0 auto;
  cursor:pointer;
  background-image: url("../img/accordion/accordion_laser_sp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.Label_05 {		/*タイトル*/
	padding: 1em;
	display: block;
	/*color: #fff;*/
  width: 1125px;
  height: 301px;
  margin: 0 auto;
  cursor:pointer;
  background-image: url("../img/accordion/accordion_plazma_sp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.Label_06 {		/*タイトル*/
	padding: 1em;
	display: block;
	/*color: #fff;*/
  width: 1125px;
  height: 301px;
  margin: 0 auto;
  cursor:pointer;
  background-image: url("../img/accordion/accordion_vacum_sp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.Label_07 {		/*タイトル*/
	padding: 1em;
	display: block;
	/*color: #fff;*/
  width: 1125px;
  height: 301px;
  margin: 0 auto;
  cursor:pointer;
  background-image: url("../img/accordion/accordion_cosme_sp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}



.Label::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid #555555; 
	border-right: 2px solid #555555;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 1.5%;
	transform: rotate(135deg);
}

.Label_02::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid #555555; 
	border-right: 2px solid #555555;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 1.5%;
	transform: rotate(135deg);
}

.Label_03::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid #555555; 
	border-right: 2px solid #555555;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 1.5%;
	transform: rotate(135deg);
}

.Label_04::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid #555555; 
	border-right: 2px solid #555555;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 1.5%;
	transform: rotate(135deg);
}

.Label_05::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid #555555; 
	border-right: 2px solid #555555;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 1.5%;
	transform: rotate(135deg);
}

.Label_06::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid #555555; 
	border-right: 2px solid #555555;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 1.5%;
	transform: rotate(135deg);
}

.Label_07::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid #555555; 
	border-right: 2px solid #555555;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	right: 1.5%;
	transform: rotate(135deg);
}



.Label,

.Label_02,

.Label_03,

.Label_04,

.Label_05,

.Label_06,

.Label_07,



.content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}

.content_02 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content_02 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}

.content_03 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content_03 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}

.content_04 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content_04 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}

.content_05 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content_05 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}

.content_06 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content_06 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}

.content_07 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content_07 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 20px;
	overflow: hidden;
}





.toggle:checked + .Label + .content {	/*開閉時*/
	height: auto;
	padding:20px ;
	transition: all .3s;
}

.toggle:checked + .Label::before {
	transform: rotate(-45deg) !important;
}

.toggle_02:checked + .Label_02 + .content_02 {	/*開閉時*/
	height: auto;
	padding:20px ;
	transition: all .3s;
}

.toggle_02:checked + .Label_02::before {
	transform: rotate(-45deg) !important;
}

.toggle_03:checked + .Label_03 + .content_03 {	/*開閉時*/
	height: auto;
	padding:20px ;
	transition: all .3s;
}

.toggle_03:checked + .Label_03::before {
	transform: rotate(-45deg) !important;
}

.toggle_04:checked + .Label_04 + .content_04 {	/*開閉時*/
	height: auto;
	padding:20px ;
	transition: all .3s;
}

.toggle_04:checked + .Label_04::before {
	transform: rotate(-45deg) !important;
}

.toggle_05:checked + .Label_05 + .content_05 {	/*開閉時*/
	height: auto;
	padding:20px ;
	transition: all .3s;
}

.toggle_05:checked + .Label_05::before {
	transform: rotate(-45deg) !important;
}

.toggle_06:checked + .Label_06 + .content_06 {	/*開閉時*/
	height: auto;
	padding:20px ;
	transition: all .3s;
}

.toggle_06:checked + .Label_06::before {
	transform: rotate(-45deg) !important;
}


.toggle_07:checked + .Label_07 + .content_07 {	/*開閉時*/
	height: auto;
	padding:20px ;
	transition: all .3s;
}

.toggle_07:checked + .Label_07::before {
	transform: rotate(-45deg) !important;
}




/******************************************************/
/*   PC表示の時  */
/******************************************************/

@media screen and (min-width: 768px) {

  .sp_off {display: block;
    object-fit: none;
    margin: 0 auto;}
  
  .sp_on {display: none;
    object-fit: none;
    margin: 0 auto;}

  .fit{
    object-fit: none;
    margin: 0 auto;
}

  #accordion_intro ul{
   width: 100%;
   margin: 0 auto;
  }

  #accordion_intro ul li{
   width: 24%;
   margin: 0 auto;
   padding-left: 7px;
   display: inline-block;
   list-style: none;}
  
  #accordion_intro ul li p{
   text-align: left;
   color: #333;
   font-size:20px;
   margin:8px 0;
   line-height: 1.6;}
  
  #accordion_intro ul li p span {
   font-size: 14px;
   border: 1px solid #707070;
   padding: 2px 4px;
   margin-right: 6px;
}  
  
  #accordion_intro ul li img {
   border:1px solid #ccc;
}

  .pt-50PC{padding-top:-50px!important;}
  .pt10PC{padding-top:10px!important;}
  .pt20PC{padding-top:20px!important;}
  .pt30PC{padding-top:30px!important;}
  .pt40PC{padding-top:40px!important;}
  .pt50PC{padding-top:50px!important;}
  .pt60PC{padding-top:60px!important;}
  .pt70PC{padding-top:70px!important;}
  .pt80PC{padding-top:80px!important;}
  .pt90PC{padding-top:90px!important;}
  .pt100PC{padding-top:100px!important;}
  .pt150PC{padding-top:150px!important;}
  .pt200PC{padding-top:200px!important;}
  .pl10PC{padding-left:10px!important;}
  .pl20PC{padding-left:20px!important;}
  .pl30PC{padding-left:30px!important;}
  .pl40PC{padding-left:40px!important;}
  .pl50PC{padding-left:50px!important;}
  .pl60PC{padding-left:60px!important;}
  .pl70PC{padding-left:70px!important;}
  .pl80PC{padding-left:80px!important;}
  .pl90PC{padding-left:90px!important;}
  .pl100PC{padding-left:100px!important;}
  .pr10PC{padding-right:10px!important;}
  .pr20PC{padding-right:20px!important;}
  .pr30PC{padding-right:30px!important;}
  .pr40PC{padding-right:40px!important;}
  .pr50PC{padding-right:50px!important;}
  .pr60PC{padding-right:60px!important;}
  .pr70PC{padding-right:70px!important;}
  .pr80PC{padding-right:80px!important;}
  .pr90PC{padding-right:90px!important;}
  .pr100PC{padding-right:100px!important;}
  .pb10PC{padding-bottom:10px!important;}
  .pb20PC{padding-bottom:20px!important;}
  .pb30PC{padding-bottom:30px!important;}
  .pb40PC{padding-bottom:40px!important;}
  .pb50PC{padding-bottom:50px!important;}
  .pb60PC{padding-bottom:60px!important;}
  .pb70PC{padding-bottom:70px!important;}
  .pb80PC{padding-bottom:80px!important;}
  .pb90PC{padding-bottom:90px!important;}
  .pb100PC{padding-bottom:100px!important;}
  .w60pPC{width: 60%;}
  }

.item_text{
  font-size:20px;
  margin:8px 0;
  line-height: 1.6;}


/******************************************************/
  /*スマホ表示の時*/
/******************************************************/

@media screen and (max-width: 768px) {
 .sma{display: block;}  
 .sp_off {display: none; object-fit: none; margin: 0 auto;}
 .sp_on {display: block;}
 .sp_center{margin: 0 auto;}

  #accordion_intro ul{
  width: 100%;
}
  
  #accordion_intro ul li{
  width: 48%;
  display: inline-block;
  list-style: none;}


  .Label {		/*スマホ表示時のFAMUBOバナー*/
  padding-right: 20px;
  margin-right: 20px;
	display: block;
	background-image: url("../img/accordion/accordion_sp.jpg");
	background-position: left;
  background-repeat: no-repeat;
	background-size: 32%;
  }
  
  .Label_02 {		/*タイトル*/
  padding-right: 20px;
  margin-right: 20px;
	display: block;
	background:#fff;
	background-image: url("../img/accordion/accordion_r_sp.jpg");
	background-position: left;
  background-repeat: no-repeat;
	background-size: 32%;
  }
 
  .Label_03 {		/*タイトル*/
  padding-right: 20px;
  margin-right: 20px;
	display: block;
	background:#fff;
	background-image: url("../img/accordion/accordion_o_sp.jpg");
	background-position: left;
  background-repeat: no-repeat;
	background-size: 32%;
  }
  
  .Label_04 {		/*タイトル*/
  padding-right: 20px;
  margin-right: 20px;
	display: block;
	background:#fff;
	background-image: url("../img/accordion/accordion_laser_sp.jpg");
	background-position: left;
  background-repeat: no-repeat;
	background-size: 32%;
  }
  
  .Label_05 {		/*タイトル*/
  padding-right: 20px;
  margin-right: 20px;
	display: block;
	background:#fff;
	background-image: url("../img/accordion/accordion_plazma_sp.jpg");
	background-position: left;
  background-repeat: no-repeat;
	background-size: 32%;
  }
  
  .Label_06 {		/*タイトル*/
  padding-right: 20px;
  margin-right: 20px;
	display: block;
	background:#fff;
	background-image: url("../img/accordion/accordion_vacum_sp.jpg");
	background-position: left;
  background-repeat: no-repeat;
	background-size: 32%;
  }
  
    .Label_07 {		/*タイトル*/
  padding-right: 20px;
  margin-right: 20px;
	display: block;
	background:#fff;
	background-image: url("../img/accordion/accordion_cosme_sp.jpg");
	background-position: left;
  background-repeat: no-repeat;
	background-size: 32%;
  }
  
  
  
  
   .Label::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid  #0A0A0A;
	border-right: 2px solid #0A0A0A;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	left: 29.5%;
  top:10%;
	transform: rotate(135deg);
  }
  
  .Label_02::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid  #0A0A0A;
	border-right: 2px solid #0A0A0A;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	left: 29.5%;
  top:10%;
	transform: rotate(135deg);
}
  
  .Label_03::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid  #0A0A0A;
	border-right: 2px solid #0A0A0A;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	left: 29.5%;
  top:10%;
	transform: rotate(135deg);
}
 
  .Label_04::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid  #0A0A0A;
	border-right: 2px solid #0A0A0A;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	left: 29.5%;
  top:10%;
	transform: rotate(135deg);
}
  
  .Label_05::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid  #0A0A0A;
	border-right: 2px solid #0A0A0A;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	left: 29.5%;
  top:10%;
	transform: rotate(135deg);
}
 
  .Label_06::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid  #0A0A0A;
	border-right: 2px solid #0A0A0A;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	left: 29.5%;
  top:10%;
	transform: rotate(135deg);
}
  
  .Label_07::before{		/*タイトル横の矢印*/
	content:"";
	width: 10px;
	height: 10px;
	border-top: 2px solid  #0A0A0A;
	border-right: 2px solid #0A0A0A;
	-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	left: 29.5%;
  top:10%;
	transform: rotate(135deg);
}
  
  
  
.c2colum_bnr {
    width: 90%;
}
  
  
.content_02 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content_02 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 0px;
	overflow: hidden;
}
 
  .content_03 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content_03 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 0px;
	overflow: hidden;
}
  
  .content_04 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.content_04 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 0px;
	overflow: hidden;
}
  
 .content_05 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
 .content_05 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 0px;
	overflow: hidden;
}
  
  .content_06 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
 .content_06 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 0px;
	overflow: hidden;
}
  
   .content_07 {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
 .content_07 {		/*本文*/
	height: 0;
	margin-bottom:10px;
	padding:0 0px;
	overflow: hidden;
}
  
  
  
  
  
  .toggle_02:checked + .Label_02 + .content_02 {	/*開閉時*/
	height: auto;
	padding:10px ;
	transition: all .3s;
}
 .toggle_02:checked + .Label_02::before {
	transform: rotate(-45deg) !important;
}
  
  .toggle_03:checked + .Label_03 + .content_03 {	/*開閉時*/
	height: auto;
	padding:10px ;
	transition: all .3s;
}
 .toggle_03:checked + .Label_03::before {
	transform: rotate(-45deg) !important;
}
  
  .toggle_04:checked + .Label_04 + .content_04 {	/*開閉時*/
	height: auto;
	padding:10px ;
	transition: all .3s;
}
 .toggle_04:checked + .Label_04::before {
	transform: rotate(-45deg) !important;
}
 
  .toggle_05:checked + .Label_05 + .content_05 {	/*開閉時*/
	height: auto;
	padding:10px ;
	transition: all .3s;
}
 .toggle_05:checked + .Label_04::before {
	transform: rotate(-45deg) !important;
}
  
  .toggle_06:checked + .Label_06 + .content_06 {	/*開閉時*/
	height: auto;
	padding:10px ;
	transition: all .3s;
}
 .toggle_06:checked + .Label_06::before {
	transform: rotate(-45deg) !important;
}
  
  .toggle_07:checked + .Label_07 + .content_07 {	/*開閉時*/
	height: auto;
	padding:10px ;
	transition: all .3s;
}
 .toggle_07:checked + .Label_07::before {
	transform: rotate(-45deg) !important;
}
  
  

  #accordion_intro ul li p {
  font-family: 'Noto Sans JP',  Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight:700;
  font-size:14px;
  margin:5px 0;
  text-align: left;
  line-height: 1.4
	  
}
#accordion_intro ul li p span {
  font-family: Helvetica,  "メイリオ", Meiryo, sans-serif;
  font-weight: lighter;
  font-size:10px;
  border: 1px solid #ccc;
  padding: 1px 2px;
  margin-right:4px;
}
  
  
#accordion_intro ul li img {
  border:1px solid #ccc;
}
  
  .pt-40SP{padding-top: -40px!important;}
  
  
}