@charset "utf-8";
/* CSS Document */
.pro_category p {
	cursor: pointer;
}
.pro_item ul {
	margin-left: 1%;
}
.pro_item ul li {
	margin-right: 1%;
}

/*
.pro_item ul li {
	animation: animation 0.5s ease 0.5s both;
}
@keyframes animation {
from {
	transform: translatey(0px);
	opacity: 0;
}
to {
	transform: translatey(5px);
	opacity: 1;
}
}*/